/* Navigation Bar */
.navbar {
  background-color: #ffffff;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 50px;
  position: sticky;
  top: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-logo {
  color: #333333;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
}

.menu-icon {
  cursor: pointer;
  display: none;
}

.menu-line {
  width: 25px;
  height: 3px;
  background-color: #333333;
  margin: 5px;
  transition: all 0.2s ease-in-out;
}

.open .menu-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.open .menu-line:nth-child(2) {
  opacity: 0;
}

.open .menu-line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: #333333;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  color: #f50057;
}

section h2 {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
  font-family: "Poppins", "sans-serif";
}
section p {
  color: #cdd5db;
}

/* CSS styling for navigation bar */

nav .burger {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
}

/* CSS styling for main content */
.tutorial-card {
  display: inline-block;
  vertical-align: top;
  width: calc(33.33% - 20px);
  margin: 10px;
}

.landing-page-header h1,
p {
  text-align: center;
}

.landing-page-tutorials h2 {
  text-align: center;
  margin: 50px;
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.tutorial-card-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: auto;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
  margin-top: 40px;
}

.gif-text {
  margin-left: 100px;
  color: slateblue;
}

.btn-start-learning,
.btn-reference {
  text-decoration: none;
  margin: 0 15px 0 15px;
  padding: 10px;
  background-color: #1d7a22;
  color: white;
  border: none;
  border-radius: 4px;
}

.tutorial-card-content {
  align-items: center;
  align-content: center;
  text-align: center;
}

.btn-start-learning:hover,
.btn-reference:hover {
  background-color: #0a8d10;
  transition: all 0.15 ease-in-out;
}

.tutorial-card-content h3 {
  color: #333333;
  font-family: "Poppins", "sans-serif";
  text-align: center;
}

.tutorial-card-content p {
  text-align: start;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

/* CSS styling for footer */
.footer {
  background-color: #161d24;
  color: #fff;
  padding: 24px 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

.footer h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer li {
  margin-bottom: 10px;
}

.footer li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons li a {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #312e2e;
  color: #e7e1e1;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
}

ul.quick-links {
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul.quick-links li {
  display: inline-block;
  margin-right: 10px;
}

ul.quick-links li:last-child {
  margin-right: 0;
}

ul.quick-links li::after {
  content: "|";
  margin-left: 10px;
}

ul.quick-links li:last-child::after {
  content: "";
}

ul.quick-links li a:hover {
  color: rgb(209, 18, 18);
  transition: 0.3s ease-in-out;
}

.social-icons li a:hover {
  color: red;
  background-color: #e4ebe5;
  transition: 0.3s ease-in-out;
}

.footer-caret {
  position: relative;
  left: 90%;
  font-size: 40px;
  color: #f1ecec;
}

.footer-caret a {
  color: #f1e7e7;
  text-decoration: none;
}

.footer-caret a:hover {
  color: #023800;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #cdd5db;
    padding: 20px;
    z-index: 1;
  }

  nav ul li {
    margin: 10px 0;
  }

  nav .burger {
    display: block;
  }
  .menu-icon {
    display: block;
  }
  .nav-menu {
    display: none;
  }
  .nav-menu.open {
    display: block;
  }
}

/* Footer at smaller screens */

@media screen and (max-width: 767px) {
  .footer {
    text-align: center;
  }

  .footer h4 {
    margin-top: 30px;
  }

  .footer p {
    margin-bottom: 20px;
  }

  .social-icons {
    margin-top: 30px;
  }

  .social-icons li {
    margin-right: 15px;
  }

  .social-icons li:last-child {
    margin-right: 0;
  }

  ul.quick-links {
    display: block;
    margin-top: 30px;
  }

  ul.quick-links li {
    display: block;
    margin: 0;
    text-align: center;
  }

  ul.quick-links li:not(:last-child) {
    margin-bottom: 10px;
  }

  ul.quick-links li::after {
    content: "";
    margin-left: 0;
  }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  main {
    padding: 10px;
    word-wrap: break-word;
  }

  .landing-page-header h1 {
    font-size: 2rem;
  }

  .landing-page-header p {
    font-size: 1rem;
  }

  .search-form input[type="text"] {
    padding: 5px;
    font-size: 1rem;
  }

  .search-form button[type="submit"] {
    font-size: 1rem;
    padding: 5px 10px;
  }

  .tutorial-card {
    max-width: 100%;
  }

  .tutorial-card-content h3 {
    font-size: 0.5rem;
  }

  /* Media queries for responsive design for navbar */

  .navbar-container {
    flex-direction: column;
    justify-content: center;
  }

  .navbar-menu {
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .dropdown {
    margin: 0;
    margin-bottom: 1rem;
  }

  .dropdown-content {
    position: static;
    display: none;
    box-shadow: none;
    margin-top: 0.5rem;
  }

  .dropdown-btn {
    font-size: 1.2rem;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .search-container input[type="text"] {
    width: 150px;
  }

  .btn-reference {
    display: none;
  }

  .btn-start-learning {
    text-decoration: none;
    margin: 2px;
    padding: 10px;
    background-color: #1d7a22;
    color: white;
    border: none;
    border-radius: 4px;
  }

  .btn-start-learning:hover,
  .btn-reference:hover {
    background-color: #169c1d;
    transition: all 0.15s ease-in-out;
  }
}
