.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-form input[type="text"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1.2rem;
    margin-right: 10px;
  }
  
  .search-form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
  }
  
  
  .search-form button[type="submit"]:hover {
    cursor: pointer;
    background-color: #45a049;
  }
  