.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .sidebar {
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Make the sidebar fixed */
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto; /* Add scrollbar to the sidebar */
  }
  
  .content {
    flex-grow: 1; /* Allow the content to grow to fill remaining space */
    padding: 0 20px; /* Add some padding to the content */
  }
  
  .previous-button,
  .next-button {
    display: inline-block;
    padding: 10px;
    background-color: #ccc;
    color: #fff;
    text-decoration: none;
    margin: 20px 0;
    border-radius: 5px;
  }
  
  .previous-button:hover,
  .next-button:hover {
    background-color: #555;
  }
  