.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
}

.navbar-logo {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  margin-right: auto;
}

.search-bar {
  width: 33%;
  display: flex;
  justify-content: center;
}

.search-bar input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 33%;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    width: 50%;
  }
  
  .search-bar {
    display: none;
  }
  
  .nav-menu {
    width: 50%;
  }
  
  .nav-links {
    margin-left: 10px;
    font-size: 1rem;
  }
}

  
  /* Tutorial styles */
  .tutorial {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    transition: transform 0.2s ease-in-out;
  }
  
  .tutorial:hover {
    transform: translateY(-5px);
  }
  
  .tutorial img {
    width: 100%;
    height: au;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }
  
  .tutorial h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .tutorial p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .btn-read-more {
    background-color: #f1c40f;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .btn-read-more:hover {
    background-color: #333;
    color: #fff;
  }

  @media (max-width: 768px) {
    .navbar-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .search-bar input[type="text"] {
      margin: 10px 0;
      width: 100%;
      max-width: 300px;
    }
  
    .nav-menu {
      margin-top: 10px;
      flex-direction: column;
      align-items: center;
    }
  
    .nav-item {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  