/* App.css */

/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #1b1b1b;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar-container {
    display: flex;
    align-items: center;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.search-bar {
    margin-right: 20px;
}

.search-bar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    font-size: 16px;
    color: #333;
    width: 300px;
}

.search-bar input[type="text"]:focus {
    outline: none;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-right: 20px;
}

.nav-links {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.nav-links:hover {
    color: #f2f2f2;
}

  /* Adjust size of tutorial images */
  .tutorial img {
    max-width: 100px;
    height: auto;
    margin: 0 auto;
    display: block;
  }

/* Home page styles */

.w3-container {
    background-color: rgba(255, 255, 255, 0.6);
    
    margin-top: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tutorial {
    width: 30%;
    margin: 2rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    transition: transform 0.2s ease;
}

.tutorial:hover {
    transform: scale(1.05);
}

.tutorial img {
    max-width: 100px;
    height: auto;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.tutorial-body {
    padding: 1rem;
    text-align: left;
}

.tutorial-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.tutorial-description {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.tutorial-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
}

.tutorial-author {
    margin-right: 1rem;
}

.tutorial-date {
    color: #999;
}


.btn-read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    margin-top: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-read-more:hover {
    background-color: #f2f2f2;
    color: #333;
}
